/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
  background-color: cadetblue;
}

p {
    color: black;
    font-weight: 500;
    width: 380px;
}

h1, h2 {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}
h2 {
    margin-top: 30px;
}

h4 {
    margin-top: -300%;
    color: rgb(207, 31, 31);
    font-weight: 900;
    font-size: xx-large;
    width: fit-content;
}

h5 {
    margin-top: -200%;
    color: rgb(207, 31, 31);
    font-weight: 900;
    font-size: x-large;
    width: fit-content;
}

footer {
    float: left;
}

a h4:hover {
    color: #fcb620c5;
}

.hero {
    background-image: url("../images/pic1.avif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.skills {
    background-image: url(../images/pic12.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.work {
    background-image: url(../images/pic14.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.about {
    background-image: url(../images/pic6.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact {
    background-image: url(../images/pic7.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.row {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.card {
    height: 500px;
    width: 500px;
    margin-bottom: 10px;
}

.card div div div img {
    height: 500px;
    width: 500px;
    margin-top: -22px;
    margin-left: -37px;
}


#me img {
    height: 280px;
    width: auto;
    float: end;
    margin-top: -350px;
    margin-left: 1200px;
}

p { 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

button{
    margin-top: 100px;
    margin-left: 15px;
}

button:hover {
    background-color: blanchedalmond;
    box-shadow: 0px 15px 20px rgba(240, 177, 6, 0.925);
    color: cyan;
}